@use "../utils/mixins";
@use "../utils/variables";

.email__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    border: 2px solid #2A3744;
    background: #121E28;
    justify-content: center;

}

.email__title {
    text-align: center;
    margin-bottom: 20px; 
    font-family: 'Kanit', Tahoma, Geneva, Verdana, sans-serif;
    color: variables.$white;
    font-size: 40px;
    font-weight: 700;
    align-items: center;
    align-self: center;
}

.email__text {
    text-align: center;
    margin-bottom: 20px; 
    color: #9AAFC3;
    font-size: 36px;
    font-weight: 600;
}

.form__label {
    display: flex;
    width: 506px;
    height: 68px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #2A3744;
    background: #121E28;
    text-decoration: none;
}

.form__button {
    display: flex;
    padding: 16px 35px 16px 37px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #CEAAFF;
}

.form__input {
    width: 506px;
    padding:21px 368px 23px 28px;
    background-color: #2A3744;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border-radius: 10px;
    box-shadow: none;
}