@use "../utils/mixins";
@use "../utils/variables";


.form__wrapper {
    @include mixins.desktop-wrapper;
}

.form__title {
  color: variables.$cian;
}

.form__subtitle {
  color: variables.$cian;
}

.form__subsubtitle {
  color: variables.$lavender;
}

.form__text {
  color: variables.$white;
}

.form__req {
  color: variables.$red;
}


.form__ul {
  list-style: none;
  color: variables.$white;
}

.form__button {
  display: flex;
  gap: 15px;
  list-style: none;
  color: variables.$white;
}

.button__res {
  background: variables.$lavender;
}

.button__send {
  background: variables.$beige;
}

.footer__logo {
  transform: rotate(45deg) scale(1.5) skew(20deg, 10deg);
}