@use "../utils/mixins";
@use "../utils/variables";

.header__navigation {
    align-self: center;
}

.header__wrapper {
    @include mixins.desktop-wrapper;
    max-height: max-content;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    padding-top: 41px;
    padding-bottom: 39px;
}

.header__logo {
    max-height: max-content;
    align-self: center;
}

.header__login {
    max-height: max-content;
    text-decoration: none;
    color: variables.$white;
    font-size: 18px;
    font-weight: 600;
    align-self: center;
    background-color: #243241;
    border-radius: 12px;
    padding: 11px 20px;
    margin-left: auto;
    text-decoration: none;
    color: #333;
    font-weight: bold;

    @media (max-width: 768px) {
        margin-top: 10px; 
    }
}

.header__burger-menu {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column; 
    }
}

.burger-toggle {
    display: none;

    @media (max-width: 768px) {
        display: block; 
    }
}

.burger-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    
    background-size: cover;

    @media (min-width: 769px) {
        display: none; 
    }
}

.navigation {
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        display: none; 
    }
}

.burger-toggle:checked ~ .navigation {
    display: flex; 
}

.navigation__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation__item {
    margin-bottom: 10px;
}

.navigation__link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

