@use "../utils/mixins";
@use "../utils/variables";

.help__title {
    font-family: 'Kanit', Tahoma, Geneva, Verdana, sans-serif;
    max-height: max-content;
    font-size: 3.375rem; 
    font-weight: 700;
    align-self: center;
    text-align: center;
    margin-bottom: 40px;
    line-height: 80px;
    color: variables.$white;
}


.help__list {
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    list-style: none;
    gap: 20px;
    padding-bottom: 214px;
    
}

.help__people {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.people__img {
    margin-right: 24px;
}

.people__image {
    max-width: 100%;
    height: auto;
}


.help_item {
    height: fit-content;
    text-align: center;
}

.help__link {
    font-family: 'Kanit', Tahoma, Geneva, Verdana, sans-serif;
    max-height: max-content;
    text-decoration: none;
    display: block;
    color: variables.$white;
    font-size: 2.5rem;
    font-weight: 600;
}

.svg-icon {
    vertical-align: middle; 
    margin-right: 8px; 
    margin-left: 28px; 
  }