@use "../utils/mixins";
@use "../utils/variables";


.info__wrapper {
    @include mixins.desktop-wrapper;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    color: variables.$white;
    align-self: center;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
}


.info__title {
    font-family: 'Kanit', Tahoma, Geneva, Verdana, sans-serif;
    max-height: max-content;
    font-size: 3.375rem; 
    font-weight: 700;
    align-self: center;
    text-align: center;
    margin-bottom: 40px;
    line-height: 80px;
}

.info__list {
    max-height: max-content;
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
}

.info__item {
    height: fit-content;
}

.info__link {
    margin-top: 15px;
    margin-bottom: auto;
    padding-bottom: 0px;
    max-height: max-content;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    flex-direction: row;
    align-self: center;
    background-color: #182632;
    border-radius: 100px;
    padding: 8px 26px;
    height: fit-content;
    display: flex;
    align-items: center;
    color: tomato;
    
    &--pink {
        color: variables.$pink;
    }
    &--orange {
        color: variables.$orange;
    }
    &--lavender {
        color: variables.$lavender
    }
    &--lightblue {
        color: variables.$lightblue;
    }
    &--cian {
        color: variables.$cian;
    }
    &--beige {
        color: variables.$beige;
    }
    &--grey {
        color: #99aaba;
    }
    svg {
        margin-right: 8px;
    }
}


.info__image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding-bottom: 178px;
  }
  
  .info__image {
    max-width: 100%;
  }

.info__more {
    max-height: max-content;
    font-family: 'Kanit', Tahoma, Geneva, Verdana, sans-serif;
    align-self: center;
    text-decoration: none;
    font-size: 1.188rem;
    font-weight: 700;
    line-height: 32px;
    color: variables.$black;
    background-color: #FFA800;
    border-radius: 100px;
    padding: 6px 24px;
    margin-top: -25px;
}
