@use "../utils/mixins";
@use "../utils/variables";

.journey__title {
    font-family: 'Kanit', Tahoma, Geneva, Verdana, sans-serif;
    max-height: max-content;
    color: variables.$white;
    font-size: 3.375rem;
    font-weight: 600;
    line-height: 80px;
    align-self: center;
    text-align: center;
    margin-bottom: 40px;
}

.journey__list {
    max-height: max-content;
    gap: 24px;
    list-style: none;
    align-self: center;
    justify-content: center;
    padding-bottom: 150px;
}

.journey__item {
    color: #87919c;
    text-align: center;
    font-family: 'Kanit', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
    transition: color 0.6s;
    cursor: default;

    &:hover {
        color: variables.$cian;
    }

}