@use "../utils/mixins";
@use "../utils/variables";

.podcasts__wrapper {
    @include mixins.desktop-wrapper;
    align-items: stretch;
    flex-wrap: wrap;
}

.podcasts__title {
    font-family: 'Kanit', Tahoma, Geneva, Verdana, sans-serif;
    max-height: max-content;
    margin-bottom: 40px;
    color: variables.$white;
    display: block;
    font-size: 1.063rem;
    font-weight: 600;
    line-height: 29px;
}

.podcasts__list {
    display: flex;
    list-style: none;
    gap: 28px;
    border-radius: 20px;
}

.podcasts__item {
    border-radius: 20px;
    border: 2px solid #2A3744;
    background: #121E28;
    margin-bottom: 40px;
}

.podcasts__subtitle {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 28px;
    color: variables.$white;
}

.podcasts__image {
    height: auto;
    border-radius: 9px;
}

.podcasts__text {
    color: #E2E2E2;
    font-size: 1.063rem;
    font-weight: 600;
    opacity: 0.8;
}

