@use "../utils/mixins";
@use "../utils/variables";

.sponsors__title {
    font-family: 'Kanit', Tahoma, Geneva, Verdana, sans-serif;
    max-height: max-content;
    font-size: 3.375rem; 
    font-weight: 700;
    align-self: center;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 40px;
    line-height: 80px;
    color: variables.$white;
}

.sponsors__list {
    display: flex;
    align-content: stretch; 
    gap: 40px;
    list-style: none;
    max-width: 100%;
    max-height: max-content;
}

.sponsors__image {
    max-width: 100%;
    border-radius: 30px;
}