@use "../utils/mixins";
@use "../utils/variables";


.tools__title {
    font-family: 'Kanit', Tahoma, Geneva, Verdana, sans-serif;
    color: variables.$white;
    font-size: 3.375rem;
    font-weight: 700;
    line-height: 80px;
    word-wrap: break-word;
    text-align: center;
    align-self: center;
    margin-bottom: 40px;
}



.tools__list {
    max-height: max-content;
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
    align-self: center;
    justify-content: center;
    
}
    


.tools__link {
    color: variables.$grey;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 40px;
    padding-bottom: 200px;
    word-wrap: break-word;
    text-decoration: none;
    justify-content: space-between;
    transition: color 0.6s;
    cursor: default;

    &:hover {
        color: variables.$yellow;
    }
}

.tools__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 200px;
  }
  
.tools__video {
    max-width: 100%;
    margin-top: 46px;
    margin-bottom: 44px;
}

.tools__play {
    text-decoration: none;
    padding: 16px 56px 16px 48px;
    gap: 12px;
    border-radius: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: rgba(255, 207, 1, 0.15);
    color: #FFCF01;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 36px;
}

.tools__play svg {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}