@use "../utils/mixins";
@use "../utils/variables";

.works__title {
    font-family: 'Kanit', Tahoma, Geneva, Verdana, sans-serif;
    max-height: max-content;
    font-size: 54px; 
    font-weight: 700;
    align-self: center;
    text-align: center;
    margin-bottom: 40px;
    line-height: 80px;
    color: variables.$white;
}


.works__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-bottom: 200px;

  }
  
  .works__item {
    margin-right: 20px;
  }
  
  .works__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: variables.$white;
    align-self: center;
  }
  
  .works__image {
    max-width: 100%;
    margin-bottom: 10px; 
  }